In [1]:
odds = [1, 3, 5, 7]
print('Odds are:', odds)

Odds are: [1, 3, 5, 7]

In [2]:
print("First element in the list", odds[0])

First element in the list 1

In [3]:
print("Last element in the list", odds[-1])

Last element in the list 7

In [4]:
print("Every second element in the list", odds[0::2])

Every second element in the list [1, 5]

In [5]:
names = ["Curie", "Darwing", "Turing"]
print("name is originally", names)
names[1] = "Darwin"
print("Final values of names", names)

name is originally ['Curie', 'Darwing', 'Turing']
Final values of names ['Curie', 'Darwin', 'Turing']

In [6]:
name = "Darwin"
print("First character in the name", name[0])

First character in the name D

In [7]:
name[0] = "d"

TypeError: 'str' object does not support item assignment

In [8]:
x = [
    ["pepper", "courgette", "onion"],
    ["cabbage","lettuce","garlic"],
    ["apple","pear","banana"]
]

In [9]:
print(x[0])

['pepper', 'courgette', 'onion']

In [10]:
print(x[0][1])

courgette

In [11]:
sample_ages = [10, 12.5, "unknown"]

In [12]:
type(sample_ages)

list

In [14]:
print(type(sample_ages[0]))
print(type(sample_ages[1]))
print(type(sample_ages[2]))

<class 'int'>
<class 'float'>
<class 'str'>

In [15]:
odds.append(11)
print("Odds after adding a value", odds)

Odds after adding a value [1, 3, 5, 7, 11]

In [16]:
removed_element = odds.pop(0)

In [17]:
print("odds after removing the first element", odds)
print("removed_element", removed_element)

odds after removing the first element [3, 5, 7, 11]
removed_element 1

In [18]:
print(odds.reverse())

None

In [19]:
odds

[11, 7, 5, 3]

### Exercise:slicing from the end

In [27]:
string_for_slicing = 'Observation date: 02-Feb-2013'
result = string_for_slicing.split('-')

In [28]:
print(result[-1])

2013

In [29]:
string_for_slicing[-4:]

'2013'

In [35]:
beatles = "In an octopus's garden in the shade"
print(beatles[0::2])

I notpssgre ntesae

In [36]:
counts = [2, 4, 6, 8, 10]
print(counts * 2)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]